<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtered Technicians List</title>
    <link rel="stylesheet" href="../CSS/technician_list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Technicians Offering <%= service %> Service</h1>
    </header>
    <div class="container">
        <ul class="technician-list">
            <% technicianlist.forEach(technician => { %>
            <li class="technician-item">
                <div class="technician-info">
                   <!-- Link technician name to profile page with technician ID as parameter -->
        <h2><a href="/t_profile/<%= technician._id %>"><%= technician.firstName %> <%= technician.lastName %></a></h2>
                    <h2>Contact: <%= technician.name %></h2>
                    <h2>Location: <%= technician.location %></h2>
                    <h2>Distance: <%= technician.distance >= 1 ? technician.distance.toFixed(2) + ' km' : Math.round(technician.distance * 1000) + ' m' %></h2>

                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
