<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technician Profile</title>
  <link rel="stylesheet" href="../public/CSS/style_profile_t.css">
</head>
<body>
  <main>
    <header>
      <h1>Technician Profile</h1>
    </header>


    <section class="profile-details">
      
      <div class="detail">
    <table>
      <tr>
        <td>firstName:</td>
        <td> <%= techniciandata.firstName %></td>
      </tr>
      
      <tr>
        <td>lastName:</td>
        <td><%= techniciandata.lastName %></td>
      </tr>
      <tr>
        <td>contactNo:</td>
        <td><%= techniciandata.name %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= techniciandata.location %></td>
      </tr>
      <tr>
        <td>Service:</td>
        <td><%= techniciandata.service %></td>
      </tr>
      </table>
    </section>
<!-- Display previous client comments -->
<h3>Previous Client Comments:</h3>
<ul>
    <% techniciandata.comments.forEach(comment => { %>
    <li><%= comment %></li>
    <% }) %>
</ul>

<!-- Form to allow new comments (for non-technician users) -->
<% if (allowComment) { %>
<form action="/t_profile/<%= techniciandata._id %>/comment" method="post">
    <textarea name="comment" placeholder="Add your comment"></textarea>
    <button type="submit">Submit Comment</button>
</form>
<% } %>

    </main>
  <!-- <script src="../JS/profile_t.js"></script> -->
</body>
</html>

